.product-card
  position: relative
  width: 50%
  background-color: #ffffff
  padding: 204px 40px 117px
  text-align: left

  &__image
    margin: -300px 0 30px -20px
    max-width: 100%

  &__heading
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 26px

  &__buttons
    position: absolute
    left: 40px
    bottom: 45px

    button
      margin-right: 18px

@media screen and (max-width: 930px)
  .product-card
    padding: 204px 20px 145px

    &__heading
      display: block

    &__buttons
      left: 20px
      bottom: 20px

      button
        margin-right: 18px
        margin-top: 20px

@media screen and (max-width: 760px)
  .product-card
    width: 100%
    padding: 164px 20px 145px
    margin-top: 82px

    &__image
      margin: -300px 0 30px -20px
      max-width: 120%