.stock-card
  padding: 5px
  background-color: #ffffff
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15)

  &__header
    display: flex
    justify-content: space-between
    padding: 16px 27px

  &__price
    text-align: left

  &__icon
    margin-top: 7px

  &__content
    padding: 18px 12px 13px 26px
    background-color: #F6F6F6

    &--left,&--right,&--plus
      display: inline-block
      vertical-align: top
      text-align: left

    &--left
      width: 33%

    &--right
      width: 54%

    &--plus
      width: 13%
      text-align: center

@media screen and (max-width: 760px)
  .stock-card
    &__header
      padding: 16px 20px

    &__price
      .span--gold
        font-size: 3.2em
        line-height: 41px

    &__content
      padding: 11px 15px 9px

      p
        font-size: 1.4em

      &--left,&--right,&--plus
        width: 100%
        text-align: left