.header
  display: flex
  justify-content: space-between
  padding: 40px 50px
  max-width: 100%

  &__nav
    margin: -60px -50px 0 0
    padding: 40.5px 9.9px 50px 210px
    background: url('assets/backgroung/Wave_Blue-Gradient.png'), url('assets/backgroung/Wave_Blue-Gradient.png')
      repeat: no-repeat
      position: top right
      size: 100% 80%, 75% 70%

  &__item
    margin: 3px
    padding: 6px 17px 9px
    font-family: "Rotonda Bold"
    font-size: 1.6em
    color: white
    text-decoration: none

    &:hover,&:focus
      margin: 0
      border: 3px solid
      border-image-slice: 1
      border-image-source: linear-gradient(135deg, rgba(253, 206, 125, 1), rgba(175, 112, 57, 1), rgba(175, 112, 57, 1), rgba(253, 206, 125, 1))

@media screen and (max-width: 1350px)
  .header
    padding: 20px

    &__logo
      width: 87px

    &__nav
      margin-right: -20px

@media screen and (max-width: 1090px)
  .header
    &__nav
      margin-right: -20px
      padding-left: 40px
      padding-right: 20px
      background-size: 116% 100%, 96% 90%

@media screen and (max-width: 930px)
  .header
    &__nav
      padding-left: 200px
      padding-top: 55px
      background-size: 110% 80%, 90% 70%

    &__item
      display: inline-block
      vertical-align: top
      width: 43px
      height: 43px
      padding: 9px
      margin: 0 0 0 10px
      border: 3px solid
      border-image-slice: 1
      border-image-source: linear-gradient(135deg, rgba(253, 206, 125, 1), rgba(175, 112, 57, 1), rgba(175, 112, 57, 1), rgba(253, 206, 125, 1))

@media screen and (max-width: 760px)
  .header
    &__nav
      padding-left: 140px
      margin-left: -200px