.footer
  margin-top: -100px
  padding: 30px

  &__nav
    display: flex
    gap: 40px
    margin-bottom: 37px

  &__item
    color: #ffffff
    text-decoration: none
    font-family: 'Rotonda Bold', sans-serif
    font-weight: 700
    font-size: 1.6em
    line-height: 21px

    &:hover,&:focus
      text-decoration: underline